<app-spinner *ngIf="processing"></app-spinner>



<div class="form-wrapper">
  <div class="container">
    <div class="card">
      <div class="row g-0">
        <div class="col">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="d-block d-lg-none text-center text-lg-start mt-3">
                <img width="150" src="../../../../assets/img/logo_1.png" alt="logo">
              </div>
              <div class="my-5 text-center text-lg-start">
                <h2 class="mb-0">Vitaje</h2>
                <p class="text-muted">Prihlásiť sa pre pokračovanie</p>
              </div>

              <form class="mb-5">
                <div class="mb-3">
                  <input type="email" class="form-control px-2" placeholder="E-MAIL" name="email"
                    [(ngModel)]="user.email">
                </div>
                <div class="mb-1">
                  <input type="password" class="form-control px-2" placeholder="HESLO" name="password" [(ngModel)]="user.password">
                </div>

                <p *ngIf="errorMessage" class="text-center m-0">
                  <small class="text-danger"><strong>{{errorMessage}}</strong></small>
                </p>

                <div class="text-center text-lg-start">
                  <button (click)="signIn();" class="btn btn-primary w-100 mt-4" type="button">Prihlásiť sa</button>
                  <p class="small mb-0 text-center"><a href="#">Zabudli ste svoje heslo?</a></p>
                </div>
              </form>

              <p class="text-center d-block d-lg-none mt-5 mt-lg-0">
                Nemáte ešte vytvorený účet?
                <a [routerLink]="'/authentication/register'">Vytvoriť účet</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col d-none d-lg-flex flex-column border-start align-items-center text-center px-3">
          <div class="logo mt-4">
            <img width="170" src="../../../../assets/img/logo_1.png" alt="logo">
          </div>
          <div>
            <p class="lead mt-5 mb-3">
              Ak ešte nemáte účet, pomocou tejto možnosti získate prístup k registračnému fromuláru
            </p>
          </div>
          <div>
            <a [routerLink]="'/authentication/register'" class="btn btn-primary mt-3">Vytvoriť účet</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
