<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <a mat-raised-button color="primary" (click)="goBack();">Späť na zoznam agentov</a>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="card">

              <div class="card-header card-header-primary">
                <h4 class="card-title">Agent</h4>
                <p class="card-category d-none"></p>
              </div>

              <div class="card-body pt-4">
                <div class="container-fluid">
                  <div class="col-md-12 col-lg-4">
                    <div class="mb-3 d-flex align-items-end gap-3">
                      <p class="form-label m-0">Meno:</p>
                      <p class="form-label m-0"><strong>{{agent.name || '-'}}</strong></p>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <div class="mb-3 d-flex align-items-end gap-3">
                      <p class="form-label m-0">Email:</p>
                      <p class="form-label m-0"><strong>{{agent.email}}</strong></p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">

              <div class="card-header card-header-primary">
                <h4 class="card-title">Formuláre</h4>
                <p class="card-category d-none"></p>
              </div>

              <div class="card-body">
                <div class="my-3">
                  <img [src]="'../../../../assets/img/form/healthy-regions/picture_3.png'" width="150" alt="...">
                </div>
                <div>
                  <strong><small>Dostupné formuláre</small></strong>
                  <mat-divider class="mt-0"></mat-divider>
                </div>
                <div class="table-responsive">
                  <table class="table table-hover mb-2">
                    <tbody>
                      <tr class="available-forms" *ngFor="let aForm of availableForms; let ind = index"
                        [routerLink]="aForm.form_url">
                        <td class="td-index">{{ind + 1}}</td>
                        <td>
                          <p class="m-0 td-form-name"><strong>{{aForm.name}}</strong></p>
                        </td>
                        <td class="td-icon">
                          <i class="material-icons">arrow_forward</i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="w-100 text-end">
                    <small>Kliknite na riadok pre zvolenie formulára</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
