::ng-deep .cdk-overlay-pane.my-dialog {
  position: relative !important;
}

:host ::ng-deep .close.mat-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  line-height: 15px;
  min-width: auto;
  font-size: 20px;
}
