<div class="mat-dialog-wrapper" style="position: relative;">

  <div class="d-flex justify-content-between dialog-actions-row">
    <button mat-button (click)="onNoClick()" class="dialog-close">X</button>
    <button class="btn btn-primary py-0 px-3" style="line-height: 1;" (click)="saveWizard()">Uložiť</button>
  </div>

  <div class="text-center">
    <h3 class="my-0"><strong>Osveta Formulár</strong></h3>
    <small><span class="txt-transform-uppercase">{{dialogData.date | date:'EEEE'}}</span> -
      {{dialogData.date | date:'dd/MM/yyyy'}}</small>
  </div>

  <div class="mat-dialog-content">
    <mat-vertical-stepper [linear]="false" #stepper>
      <!-- JEDNOTLIVEC -->
      <mat-step *ngIf="sectionA" label="Jednotlivec">
        <app-enlightenment-wizard-step-individuals [section]="sectionA" [enlightenmentOptions]="enlightenmentOptions"
          [wizardStepper]="stepper" (saveChanges)="onStepChange($event)">
        </app-enlightenment-wizard-step-individuals>
      </mat-step>

      <!-- RODINY -->
      <mat-step *ngIf="sectionB" label="Rodiny">
        <app-enlightenment-wizard-step-families [section]="sectionB" [enlightenmentOptions]="enlightenmentOptions"
          [wizardStepper]="stepper" (saveChanges)="onStepChange($event)">
        </app-enlightenment-wizard-step-families>
      </mat-step>

      <!-- SKOLA -->
      <mat-step *ngIf="sectionC" label="Škola">
        <app-enlightenment-wizard-step-school [section]="sectionC" [enlightenmentOptions]="enlightenmentOptions"
          [wizardStepper]="stepper" (saveChanges)="onStepChange($event)">
        </app-enlightenment-wizard-step-school>
      </mat-step>

      <!-- KOMUNITNE CENTRUM -->
      <mat-step *ngIf="sectionD" label="Komunitné Centrum">
        <app-enlightenment-wizard-step-community [section]="sectionD" [enlightenmentOptions]="enlightenmentOptions"
          [wizardStepper]="stepper" (saveChanges)="onStepChange($event)">
        </app-enlightenment-wizard-step-community>
      </mat-step>

      <mat-step label="Dokončiť Formulár">
        <div class="p-0 mt-2 text-end">
          <button mat-flat-button color="primary" (click)="saveWizard()">Ulož</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
