<footer class="footer p-0">
  <div class="container-fluid">
    <nav class="pull-left d-none">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Creative Tim
          </a>
        </li>
        <li>
          <a href="https://creative-tim.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.creative-tim.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      <small>&copy; {{date | date: 'yyyy'}} eFormuláre</small>
    </div>
  </div>
</footer>
