<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <a mat-raised-button color="primary" (click)="goBackToAgent()">Späť</a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card card-plain bg-white">
          <div class="card-header card-header-primary">
            <h3 class="m-0">Intervencie</h3>
          </div>
          <div class="card-body table-responsivep pb-1">

            <div class="form-details-wrapper mb-5">
              <h3>Základné informácie</h3>
              <mat-divider></mat-divider>

              <p *ngIf="isAdmin" class="details-grid mt-3">
                <strong>Agent:</strong><span>{{agentName || '-'}}</span>
              </p>
              <p class="details-grid mt-3">
                <strong>Aktuálny deň:</strong><span> {{dateToday | date:'dd/MM/yyyy'}}</span>
              </p>
              <p class="details-grid">
                <strong>Aktuálny mesiac:</strong><span style="text-transform: capitalize;">
                  {{dateToday | date:'LLLL'}}</span>
              </p>

              <mat-divider></mat-divider>
            </div>

            <app-calendar *ngIf="interventions$ | async as interventions" [data]="interventions"
              (dateSelected)="openDialog($event)">
            </app-calendar>

            <div class="form-details-wrapper legend">
              <p class="d-flex align-items-center gap-1">
                <span class="dot green"></span>
                <strong>Deň Zaznamenaný</strong>
              </p>
              <p class="d-flex align-items-center gap-1">
                <span class="dot red"></span>
                <strong>Deň Nezaznamenaný</strong>
              </p>
            </div>

            <div *ngIf="isAdmin" class="fp-admin-section">
              <mat-divider class="table-divider"></mat-divider>

              <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                  <button mat-raised-button color="primary" class="btn-download-pdf"
                    (click)="generatePdfFileAsync()">Stiahnuť PDF</button>
                </div>
              </div>
            </div>

            <mat-divider class="table-footer-divider mt-2"></mat-divider>

            <div class="table-footer justify-content-between align-items-center" style="padding: 10px 10px 0 15px;">
              <img src="../../../assets/img/form/healthy-regions/picture_3.png" width="auto" height="44">
              <img src="../../../assets/img/form/healthy-regions/picture_1.png" width="200">
              <img src="../../../assets/img/form/healthy-regions/picture_2.png" width="200">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!!pdfData" class="row pdf-table-wrapper">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body table-responsive">

        <div *ngFor="let page of pdfData; let ind = index" [id]="'pdf_page_'+ind" class="p-4" style="display: table;">
          <table class="table table-interventions">
            <thead>
              <tr>
                <th colspan="23">
                  <div class="table-header d-flex justify-content-between">
                    <img src="../../../assets/img/form/healthy-regions/picture_2.png" width="300">
                    <img src="../../../assets/img/form/healthy-regions/picture_1.png" width="300">
                    <img src="../../../assets/img/form/healthy-regions/picture_3.png" width="300">
                  </div>
                </th>
              </tr>
              <tr *ngIf="ind === 0">
                <th colspan="5" class="text-start">
                  <strong>Mesiac/rok: {{(dateToday | date:'LLLL/yyyy') | uppercase}}</strong>
                </th>
                <th colspan="18" class="text-start">
                  <strong>Meno APZ: {{agentName}}</strong>
                </th>
              </tr>
              <tr>
                <th colspan="23" class="text-center">
                  <h3 class="m-0"><strong>Intervencie</strong></h3>
                </th>
              </tr>
              <tr>
                <th colspan="1"></th>
                <th colspan="4"><strong>A: Podpora preventívnych zdravotných programov</strong></th>
                <th colspan="4"><strong>B: Spolupráca s lekármi</strong></th>
                <th colspan="5"><strong>C: Spolupráca</strong></th>
                <th colspan="8"><strong>D: Priama asistencia klientom</strong></th>
                <th colspan="1"><strong>E: Ďalšie aktivity</strong></th>
              </tr>
              <tr>
                <th>Deň</th>
                <th>A1:<br> Preventívna prehliadka </th>
                <th>A2:<br> Očkovanie</th>
                <th>A3:<br> Materská poradnňa</th>
                <th>A4:<br> Očkovanie COVID-19</th>
                <th>B1:<br> Všeobecný pre dospelých</th>
                <th>B2:<br> Pediater</th>
                <th>B3:<br> Nemocnica</th>
                <th>B4:<br> Odborný lekár</th>
                <th>C1:<br> TSP</th>
                <th>C2:<br> OU/MS</th>
                <th>C3:<br> RPZ, 112</th>
                <th>C4:<br> Škola</th>
                <th>C5:<br> ÚPSVaR</th>
                <th>D1:<br> Meranie krvného tlaku</th>
                <th>D2:<br> Prvá pomoc ošetrenie poranení </th>
                <th>D3:<br> Sprevádzanie na vyšetrenie</th>
                <th>D4:<br> Zdravotné poistenie</th>
                <th>D5:<br> Kompenzačné pomôcky a ZŤP</th>
                <th>D6:<br> Lieky</th>
                <th>D7:<br> RUVZ-Lekár v prípade epidémie</th>
                <th>D8:<br> Aktívna pomoc a podpora klienta</th>
                <th>Charita, brigáda, zbierky iné...</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let intervention of page; let i = index;">
                <td>{{intervention.day_int}}</td>
                <td>{{intervention.a1}}</td>
                <td>{{intervention.a2}}</td>
                <td>{{intervention.a3}}</td>
                <td>{{intervention.a4}}</td>
                <td>{{intervention.b1}}</td>
                <td>{{intervention.b2}}</td>
                <td>{{intervention.b3}}</td>
                <td>{{intervention.b4}}</td>
                <td>{{intervention.c1}}</td>
                <td>{{intervention.c2}}</td>
                <td>{{intervention.c3}}</td>
                <td>{{intervention.c4}}</td>
                <td>{{intervention.c5}}</td>
                <td>{{intervention.d1}}</td>
                <td>{{intervention.d2}}</td>
                <td>{{intervention.d3}}</td>
                <td>{{intervention.d4}}</td>
                <td>{{intervention.d5}}</td>
                <td>{{intervention.d6}}</td>
                <td>{{intervention.d7}}</td>
                <td>{{intervention.d8}}</td>
                <td>{{intervention.e1}}</td>
              </tr>
              <tr *ngIf="ind === (pdfData.length - 1)">
                <td>Spolu</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr *ngIf="ind === (pdfData.length - 1)">
                <td colspan="23" class="text-start">
                  <span>V mesiaci {{dateToday | date:'LLLL'}} sa v mojej lokalite vyskytlo infekčné ochorenie:</span>
                </td>
              </tr>
              <tr *ngIf="ind === (pdfData.length - 1)">
                <td colspan="23" class="text-start">
                  <span>Spolupracoval som s lekármi:</span>
                </td>
              </tr>
              <tr *ngIf="ind === (pdfData.length - 1)">
                <td colspan="20" class="text-start">
                  <span>Svojim podpisom vyhlasujem, že údaje uvedené v dokumente sú pravdivé, reálne a správne a som si
                    vedomý následkov spojených s uvedením/predložením nesprávnych,neúplných a nereálnych údajov.</span>
                </td>
                <td colspan="3" class="text-start">
                  <span>Podpis APZ:</span>
                </td>
              </tr>
              <tr>
                <td colspan="23">
                  <p class="text-center m-0">
                    <small>
                      „Tento projekt sa realizuje vďaka podpore z Európskeho sociálneho fondu v rámci Operačného
                      programu
                      Ľudské
                      zdroje“ <br>
                      Odkaz na riadiaci orgán – www.esf.gov.sk<br>
                      Sprostredkovateľský orgán – www.mpsvr.sk
                    </small>
                  </p>
                </td>
              </tr>
            </tbody>

            <style>
              .table-interventions thead th {
                font-size: 9pt;
                min-width: 96px;
                text-align: center;
                line-height: 1;
              }

              .table-interventions tbody td {
                text-align: center;
              }

            </style>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
