.form-details-wrapper {
  width: 300px;
  max-width: 90%;
  min-width: 50%;
  text-align: center;
  margin: 0 auto;
  color: #121212;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot.red{
  background-color: #ff00001f;
}

.dot.green {
  background-color: #0ccc0c63;
}


:host ::ng-deep .form-filled .mat-calendar-body-cell-content {

  border-radius: 50px;
}

.table-footer {
  display: flex;
}

.details-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  text-align: start;
  justify-content: center;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {

  .table-footer,
  .table-divider {
    display: none;
  }
}
