<app-spinner *ngIf="processing"></app-spinner>

<div class="main-content">
  <div class="container-fluid">

    <!-- AGENTS -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">

          <div class="card-header card-header-primary">
            <h4 class="card-title">Agenti</h4>
            <p class="card-category d-none"></p>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class=" text-primary">
                  <th class="col-hide-mob"></th>
                  <th class="d-none"></th>
                  <th>Asistent</th>
                  <th>Koordinátor</th>
                  <th class="col-hide-mob">Lokalita</th>
                  <th>Status</th>
                </thead>
                <tbody>
                  <tr *ngFor="let agent of agents; let ind = index">
                    <td (click)="goToAgentDetails(agent)" class="col-hide-mob">{{ind + 1}}</td>
                    <td (click)="goToAgentDetails(agent)">{{(agent.coordinator_name) || '-'}}</td>
                    <td (click)="goToAgentDetails(agent)" class="d-none">{{agent.user_id}}</td>
                    <td (click)="goToAgentDetails(agent)">{{(agent.name) || '-'}}</td>
                    <td (click)="goToAgentDetails(agent)" class="col-hide-mob">{{(agent.location) || '-'}}</td>
                    <td (click)="goToAgentDetails(agent)" class="pl-0 col-btn-download">
                      <container-element [ngSwitch]="agent.status?.value">
                        <span *ngSwitchCase="'active'" class="badge bg-success">V PRÁCI</span>
                        <span *ngSwitchCase="'break'" class="badge bg-primary">NA PRESTÁVKE</span>
                        <span *ngSwitchCase="'inactive'" class="badge bg-danger">NEAKTÍVNY</span>
                      </container-element>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- REPORTS -->
    <app-reports [agents]="agents"></app-reports>
  </div>
</div>
