.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.avatar>img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.user-icon {
  width: 30px !important;
  text-align: center;
}

table.table-custom tbody tr {
  background: #fff;
}

.table.table-hover tbody tr {
  cursor: pointer;
}

.badge {
  font-size: .85em;
  line-height: 1.2;
  width: 70px;
}
