<div class="mat-dialog-wrapper" style="position: relative;">

  <div class="d-flex justify-content-between dialog-actions-row">
    <button mat-button (click)="onNoClick()" class="dialog-close">X</button>
    <button class="btn btn-primary py-0 px-3" style="line-height: 1;" (click)="saveWizard()">Uložiť</button>
  </div>

  <div class="text-center">
    <h3 class="my-0"><strong>Monitoring Covid</strong></h3>
    <small><span class="txt-transform-uppercase">{{dialogData.date | date:'EEEE'}}</span> -
      {{dialogData.date | date:'dd/MM/yyyy'}}</small>
  </div>

  <div class="mat-dialog-content">
    <mat-vertical-stepper [linear]="false" #stepper>
      <!-- PCR TESTS -->
      <mat-step [stepControl]="sectionA" label="PCR Testovanie">
        <form [formGroup]="sectionA" class="m-0">
          <mat-form-field>
            <mat-label>Počet Vykonaných Testov</mat-label>
            <input matInput type="number" min="0" formControlName="a1" required>
          </mat-form-field>

          <!-- <mat-form-field class="d-none">
            <mat-label>Počet Pozitívnych Testov - Celkovo</mat-label>
            <input matInput type="number" min="0" formControlName="a2" required>
          </mat-form-field> -->

          <section class="ml-2">
            <mat-form-field>
              <mat-label>Počet Pozitívnych Do 17 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="a3" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Počet Pozitívnych 18-49 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="a4" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Počet Pozitívnych Nad 50 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="a5" required>
            </mat-form-field>
          </section>

          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>

      <!-- ANTIGEN TESTS -->
      <mat-step [stepControl]="sectionB" label="ANTIGÉN Testovanie">
        <form [formGroup]="sectionB" class="m-0">
          <mat-form-field>
            <mat-label>Počet Vykonaných Testov</mat-label>
            <input matInput type="number" min="0" formControlName="b1" required>
          </mat-form-field>

          <!-- <mat-form-field>
            <mat-label>Počet Pozitívnych Testov Celkovo</mat-label>
            <input matInput type="number" min="0" formControlName="b2" required>
          </mat-form-field> -->

          <section class="ml-2">
            <mat-form-field>
              <mat-label>Počet Pozitívnych Do 17 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="b3" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Počet Pozitívnych 18-49 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="b4" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Počet Pozitívnych Nad 50 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="b5" required>
            </mat-form-field>
          </section>

          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>

      <!-- NO OF PEOPLE IN QUARANTINE -->
      <mat-step [stepControl]="sectionC" label="KARANTÉNA">
        <form [formGroup]="sectionC" class="m-0">
          <mat-form-field>
            <mat-label>Počet Ľudí v Karanténe</mat-label>
            <input matInput type="number" min="0" formControlName="c1" required>
          </mat-form-field>

          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>

      <!-- NO OF PEOPLE IN HOSPITAL -->
      <mat-step [stepControl]="sectionD" label="HOSPITALIZÁCIA">
        <form [formGroup]="sectionD" class="m-0">
          <!-- <mat-form-field>
            <mat-label>Počet Ľudí v Nemocnici</mat-label>
            <input matInput type="number" min="0" formControlName="d1" required>
          </mat-form-field> -->
          <section class="ml-2">
            <mat-form-field>
              <mat-label>Počet v Nemocnici Do 17 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="d2" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Počet v Nemocnici 18-49 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="d3" required>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Počet v Nemocnici Nad 50 Rokov</mat-label>
              <input matInput type="number" min="0" formControlName="d4" required>
            </mat-form-field>
          </section>

          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>

      <!-- FATALITIES -->
      <mat-step [stepControl]="sectionE" label="ÚMRTIE">
        <form [formGroup]="sectionE" class="m-0">
          <!-- <mat-form-field>
            <mat-label>Počet Úmrtí</mat-label>
            <input matInput type="number" min="0" formControlName="e1" required>
          </mat-form-field> -->

          <table class="table">
            <thead>
              <tr>
                <th class="pb-1" style="visibility: hidden;">Kategória</th>
                <th class="pb-1 col-no-vac">Očkovaní</th>
                <th class="pb-1 col-no-vac">Neočkovaní</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-no-vac pb-2">Do 17 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none"></mat-label>
                    <input matInput type="number" min="0" formControlName="e2">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none"></mat-label>
                    <input matInput type="number" min="0" formControlName="e3">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="col-no-vac pb-2">18-49 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none"></mat-label>
                    <input matInput type="number" min="0" formControlName="e4">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none"></mat-label>
                    <input matInput type="number" min="0" formControlName="e5">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="col-no-vac pb-2">Nad 50 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none"></mat-label>
                    <input matInput type="number" min="0" formControlName="e6">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none"></mat-label>
                    <input matInput type="number" min="0" formControlName="e7">
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>


          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>

      <!-- REG VACTIONTIONS -->
      <mat-step [stepControl]="sectionH" label="REGISTRÁCIA OČKOVANIE">
        <form [formGroup]="sectionH" class="m-0">
          <!-- <mat-form-field>
            <mat-label>Počet Očkovaní</mat-label>
            <input matInput type="number" min="0" formControlName="h1" required>
          </mat-form-field> -->

          <table class="table mt-2">
            <thead>
              <tr>
                <th class="py-1 col-vac-head" style="visibility: visible;">Vakcína Dávka</th>
                <th class="py-1 col-no-vac">1.</th>
                <th class="py-1 col-no-vac">2.</th>
                <th class="py-1 col-no-vac">3.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-no-vac col-vac-head pb-2">Do 17 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Prvá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h2">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Druhá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h3">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Tretia Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h4">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="col-no-vac col-vac-head pb-2">18-49 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Prvá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h5">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Druhá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h6">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Tretia Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h7">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="col-no-vac col-vac-head pb-2">Nad 50 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Prvá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h8">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Druhá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h9">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Tretia Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="h10">
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>

      <!-- VACTINATIONS -->
      <mat-step [stepControl]="sectionF" label="OČKOVANIE">
        <form [formGroup]="sectionF" class="m-0">
          <!-- <mat-form-field>
            <mat-label>Počet Očkovaní</mat-label>
            <input matInput type="number" min="0" formControlName="f1" required>
          </mat-form-field> -->

          <table class="table mt-2">
            <thead>
              <tr>
                <th class="py-1 col-vac-head" style="visibility: visible;">Vakcína Dávka</th>
                <th class="py-1 col-no-vac">1.</th>
                <th class="py-1 col-no-vac">2.</th>
                <th class="py-1 col-no-vac">3.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-no-vac col-vac-head pb-2">Do 17 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Prvá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f2">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Druhá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f3">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Tretia Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f4">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="col-no-vac col-vac-head pb-2">18-49 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Prvá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f5">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Druhá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f6">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Tretia Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f7">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="col-no-vac col-vac-head pb-2">Nad 50 Rokov</td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Prvá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f8">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Druhá Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f9">
                  </mat-form-field>
                </td>
                <td class="col-no-vac">
                  <mat-form-field>
                    <mat-label class="d-none">Počet Tretia Dávka</mat-label>
                    <input matInput type="number" min="0" formControlName="f10">
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>

      <!-- OTHERS -->
      <mat-step [stepControl]="sectionG" label="INÉ">
        <form [formGroup]="sectionG" class="m-0">
          <mat-form-field>
            <mat-label>Doplňujúce Informácie</mat-label>
            <textarea matInput formControlName="g1" placeholder="Návrat do zahraničia, mobilné očkovanie..."
              autocomplete="off"></textarea>
          </mat-form-field>

          <div class="text-end d-flex justify-content-between mt-2">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" (click)="onStepChange()">Ďalej</button>
          </div>
        </form>
      </mat-step>


      <mat-step label="Dokončiť Formulár">
        <div class="p-0 mt-2 text-end">
          <button mat-flat-button color="primary" (click)="saveWizard()">Ulož</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
