/* @import '~@aws-amplify/ui-angular/theme.css'; */
/* You can add global styles to this file, and also import other style files */
.cdk-overlay-container {
  z-index: 9999 !important;
}

.cdk-overlay-pane {
  overflow: auto !important;
}

@media screen and (max-width: 767px) {
  .mat-dialog-container {
    padding: 24px 0 !important;
  }
}


:host ::ng-deep .dropdown-list {
  position: relative !important;
}

/* MATERIAL DIALOG */
.cdk-overlay-connected-position-bounding-box {
  background: #33333354 !important;
}

.cdk-overlay-connected-position-bounding-box .mat-select-panel {
  min-width: 100% !important;
  overflow: auto !important;
  max-height: 350px !important;
  padding: 0px 10px;
}

.my-dialog-enlightenments .mat-option {
  line-height: 2em;
  height: 2em;
}

.cdk-overlay-pane .custom-panel {
  max-height: 235px;
  overflow-y: auto;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.cdk-overlay-pane .mt-footer {
  display: flex;
  justify-content: space-between;
  height: unset;
  padding-bottom: 15px;
}

.cdk-overlay-pane .mt-footer button {
  width: 75px;
}

/* DIALOG ACTIONS ROW */
.dialog-actions-row {
  margin: -10px 0 10px;
}

.dialog-actions-row button:first-child {
  display: flex;
}

@media screen and (max-width: 767px) {

  .my-dialog-enlightenments .mat-dialog-container {
    padding: 24px 0 !important;
  }

  .mat-dialog-wrapper .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
   
  }

  .my-dialog-enlightenments .mat-dialog-content {
    padding-left: 0 !important;
    padding-right: 24px !important;
  }

  .my-dialog-enlightenments,
  .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane {
    left: 0 !important;
    right: 0;
    width: 90vh;
    max-width: 90%;
    transform: unset !important;
    margin: 0 auto;
  }

  .my-dialog-enlightenments {
    max-width: 95vw !important;
    width: max(90%, 350px);
  }

  .dialog-actions-row {
    margin: -10px 0 10px;
    max-width: 90vw;
  }
}

/* DIALOG */
.mat-vertical-stepper-content h3 {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
}

.mat-vertical-stepper-content button {
  width: 120px;
  height: 25px;
  padding: 14px 0 !important;
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-dialog-container {
  padding-bottom: 10px !important;
}

.mat-dialog-container button:last-child {
  float: right;
}


/* .cdk-overlay-connected-position-bounding-box .cdk-overlay-pane */
.my-dialog-reports,
.my-dialog-pdf-excel,
.my-dialog-enlightenments {
  width: min(500px, 93vw);
  right: 0;
  left: 0 !important;
  transform: unset !important;
  max-width: 500px;
  margin: 0 auto;
}

.mat-datepicker-popup {
  overflow: hidden !important;
  min-height: 370px;
}

.pdf-table-wrapper {
  /* position: fixed;
  left: -9999px; */
}

.pdf-table-wrapper table thead th {
  text-align: center;
}

.pdf-table-wrapper table thead th,
.pdf-table-wrapper table tbody td {
  font-size: 15pt !important;
}

.txt-transform-uppercase {
  text-transform: capitalize;
}

.mat-select-panel {
  overflow-y: auto !important;
}

.mat-sort-header-content {
  font-size: 13pt;
  color: #9c27b0;
  font-weight: 500;
}

tr.mat-header-row {
  height: 40px !important;
}

.table-hover tr {
  cursor: pointer !important;
}
