<div class="mat-dialog-wrapper">

  <button class="close" mat-button (click)="onNoClick()">X</button>
  <h3 class="mt-0 mb-2 text-center"><strong>Intervencie Formulár</strong></h3>

  <div class="mat-dialog-content">
    <mat-vertical-stepper [linear]="true">
      <mat-step [stepControl]="sectionA" label="A: Podpora preventívnych zdravotných programov ">
        <form [formGroup]="sectionA">
          <mat-form-field>
            <mat-label>A1: Preventívna prehliadka </mat-label>
            <input matInput type="number" formControlName="a1" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label>A2: Očkovanie</mat-label>
            <input matInput type="number" formControlName="a2" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>A3: Materská poradnňa</mat-label>
            <input matInput formControlName="a3" required>
          </mat-form-field>

          <mat-form-field>
            <mat-label>A4: Očkovanie COVID-19</mat-label>
            <input matInput formControlName="a4" required>
          </mat-form-field>

          <div class="text-end">
            <button mat-flat-button color="primary" matStepperNext>Ďalej</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sectionB" label="B: Spolupráca s lekármi ">
        <form [formGroup]="sectionB">
          <mat-form-field>
            <mat-label>B1: Všeobecný pre dospelých</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="b1" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>B2: Pediater</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="b2" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>B3: Nemocnica</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="b3" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>B4: Odborný lekár</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="b4" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <div class="d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" matStepperNext>Ďalej</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sectionC" label="C: Spolupráca">
        <form [formGroup]="sectionC">
          <mat-form-field>
            <mat-label>C1: TSP</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="c1" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>C2: OU/MS</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="c2" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>C3: RPZ, 112</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="c3" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>C4: Škola</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="c4" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>C5: ÚPSVaR</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="c5" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <div class="d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" matStepperNext>Ďalej</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sectionD" label="D: Priama asistencia klientom">
        <form [formGroup]="sectionD">
          <mat-form-field>
            <mat-label>D1: Meranie krvného tlaku</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d1" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>D2: Prvá pomoc ošetrenie poranení </mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d2" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>D3: Sprevádzanie na vyšetrenie</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d3" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>D4: Zdravotné poistenie</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d4" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label> D5: Kompenzačné pomôcky a ZŤP</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d5" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>D:6 Lieky</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d6" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>D7: RUVZ -Lekár v prípade epidémie </mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d7" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <mat-label>D8: Aktívna pomoc a podpora klienta </mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="d8" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <div class="d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" matStepperNext>Ďalej</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sectionE" label="E: Ďalšie aktivity">
        <form [formGroup]="sectionE">
          <mat-form-field>
            <mat-label>E1: Charita, brigáda, zbierky iné...</mat-label>
            <input matInput type="number" placeholder="Placeholder" formControlName="e1" required>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <div class="d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious>Späť</button>
            <button mat-flat-button color="primary" matStepperNext>Ďalej</button>
          </div>
        </form>
      </mat-step>

      <mat-step label="Ďokončiť Formulár">
        <div class="p-0 mt-2 text-end">
          <button mat-flat-button color="primary" (click)="saveWizard()">Ulož</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
