<div class="mat-dialog-wrapper">

  <button class="close" mat-button (click)="dialogClose()">X</button>
  <h3 class="mt-0 mb-2 text-center"><strong>Aktivity</strong></h3>

  <div class="mat-dialog-content">
    <table class="table">
      <thead>
        <th></th>
        <th>Čas</th>
        <th>Aktivita</th>
        <th>Status</th>
      </thead>

      <!-- NO ACTIVITIES -->
      <tbody *ngIf="!activities || activities.length === 0">
        <tr>
          <td class="text-danger" colspan="4">
            <strong>Žiadna aktivita nenájdená</strong>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="text-end">
            <button class="btn btn-primary" (click)="addActivityRow()">Pridaj Aktivitu</button>
          </td>
        </tr>
      </tbody>

      <!-- ACTIVITIES -->
      <tbody *ngIf="!!activities && activities.length > 0">
        <tr *ngFor="let a of activities; let ind = index">
          <td>{{ind + 1}}</td>
          <td>
            <mat-select [(ngModel)]="a.time">
              <mat-option *ngFor="let t of availableTimes" [value]="t">{{t}}</mat-option>
            </mat-select>
          </td>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <input matInput [value]="a.activity" [(ngModel)]="a.activity">
            </mat-form-field>
          </td>
          <td>
            <mat-checkbox class="example-margin" [(ngModel)]="a.status"></mat-checkbox>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="text-end">
            <button class="btn btn-primary" (click)="addActivityRow()">Pridaj Aktivitu</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
